
<!-- include header begin -->
<%- include('include/_header')%>
<!-- include header end -->


     <!-- main site begin -->
     <main id="site-main">
        <div class="container">
            <div class="box-nav-d-flex-justify-between">
                <a href="/admin-child"><i class="fas fa-angle-double-left"></i>All Child</a>
                <br>
                <a href="/">
                    <span class="text-gradient"> <i class="fas fa-angle-double-left"></i>Home Page </span>
                </a> 
            </div>
            <div class="form-title text-center">
                <h2 class="text-dark"> New Child Profile </h2>    
                <span class="text-light"> Fill in the form below to create a new child profile <i class="fas fa-angle-double-left"></i> </span>
            </div>

<!-- add staff form -->
<%- include('include/_child-form')%>


        </div>
    </main>
    <!-- main site begin -->



<!-- include footer begin -->
<%- include('include/_footer')%>
<!-- include footer end -->