<!-- include header begin -->
<%- include('include/_header')%>
<!-- include header end -->


           

    <body>
        <nav>
            <div class="header-nav">
                <a href="/program">Programs</a>
                <a href="/contact">Contact</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>    
            </div>
        </nav>
    </body>




    <div class="index-container">
        <div class="home-text-section">
            <p class="home-primary-subheading">Welcome</p>
            <h1 class="home-primary-heading">
            Mini Oasis Montessori
            </h1>
            <p class="home-primary-text">
                Mini Oasis Montessori School provides a nurturing environment where children are encouraged to explore, learn,
                and develop at their own pace through hands-on experiences and individualized attention.
            </p>
        </div>

        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-item">
                    <button class="prev">‹</button>
                    <p class="about-primary-subheading">About Us</p>
                    <h1 class="about-primary-heading">Holistic</h1>
                    <p class="about-primary-text">
                    At Mini Oasis, we wholeheartedly adopt the Montessori philosophy, prioritizing a comprehensive and balanced approach to education that nurtures every aspect of a child's development, fostering curiosity, independence, and a lifelong love for learning within a supportive and enriching environment.   
                    </p>
                </div>
                <div class="carousel-item">
                    <p class="about-primary-subheading">About Us</p>
                    <h1 class="about-primary-heading">Enriching</h1>
                    <p class="about-primary-text">
                    At Mini Oasis, our dedicated team is passionately committed to crafting an enriching educational experience through hands-on, child-centered learning methodologies, empowering each child to explore their individual interests, talents, and potential while fostering a deep sense of fulfillment and accomplishment.    
                    </p>
                </div>
                <div class="carousel-item">
                    <button class="next">›</button>
                    <p class="about-primary-subheading">About Us</p>
                    <h1 class="about-primary-heading">Tailored</h1>
                    <p class="about-primary-text">
                    At Mini Oasis, we tailor our approach to education by instilling values of independence, respect, and community, fostering a personalized learning journey that ignites a lifelong passion for discovery and growth within our close-knit Montessori community. Welcome to our nurturing Montessori family, where each child's unique path is celebrated and supported.   
                    </p>
                </div>
            </div>
        </div>

        <div class="program-container">
            <div class="program-info">
                <p class="about-primary-subheading">Our Programs</p>
                <h1 class="about-primary-heading">Toddlers, Preschools & Summer Camp</h1>
                <p class="about-primary-text">
                    Our programs are designed to provide a comprehensive and enriching experience for children in alignment with the Montessori philosophy.
                </p>
            </div>
                
            </div>


            <div class="cards">
                <div class="cards-item toddlers">
                    <p class="about-primary-subheading">Toddlers</p>
                    <h1 class="program-primary-heading">12 to 36 months</h1>
                    <p class="program-primary-text">
                        Our toddler program focuses on fostering independence, language development, and social skills through activities designed to meet the developmental needs of this age group.
                    </p>
                </div>

                <div class="cards-item preschool">
                    <p class="about-primary-subheading">PreSchool</p>
                    <h1 class="program-primary-heading">3 years to 5 years</h1>
                    <p class="program-primary-text">
                        Our primary program follows the Montessori method's core principles, providing a prepared environment where children engage in self-directed learning experiences.
                    </p>
                    <p class="program-primary-text">
                        Activities include practical life skills, sensorial exploration, language development, math activities, cultural studies, and outdoor play.
                    </p>
                </div>

                <div class="cards-item summer">
                    <p class="about-primary-subheading">Summer Camp</p>
                    <h1 class="program-primary-heading">Early Registration May </h1>
                    <p class="program-primary-text">
                        During the summer months, we offer themed camps that integrate Montessori principles with fun and engaging activities, providing a balance of learning and recreational experiences for children.
                    </p>
                </div>
            </div>


        </div>
        

    </div>






<!-- include footer begin -->
<%- include('include/_footer')%>
<!-- include footer end -->