
<!-- include header begin -->
<%- include('include/_header')%>
<!-- include header end -->


 <!-- main site begin -->
 <main id="site-main">
    <div class="container">
        <div class="box-nav-d-flex-justify-between">
            <a href="/login-page">
                <span class="text-gradient"> Login Here <i class="fa-regular fa-user"></i> </span>
            </a>
        </div>

    <div class="sign-up-container">
        <div class="text-center">
        <h2>Sign Up To Access MiniMinder</h2>
        </div>    
    </div>
        

<!-- form handling-->
<form method="POST" id="add_signup">
<div class="new_signup">
<div class="form-group">
    <label for="name" class="text-light"> Name </label>
    <input type="hidden" name="id" value="">
    <input type="text" name="name" value="" placeholder="Jane Smith">
</div>

<div class="form-group">
    <label for="email" class="text-light"> Email </label>
    <input type="text" name="email" value="" placeholder="example@gmail.com">
</div>

<div class="form-group">
    <label for="password" class="text-light"> Password </label>
    <input type="text" name="password" value="" placeholder="At least 8 characters">
</div>

<div class="form-group">
    <label for="birthday" class="text-light"> Date Of Birth </label>
    <input type="text" name="birthday" value="" placeholder="02/14/1991">
</div>

<div class="form-group">
    <label for="gender" class="text-light"> Gender </label>
    <div class="radio inline">
        <input type="radio" id="radio-2" name="gender" value="Male">
        <label for="radio-2" class="radio-label"> Male </label>
    </div>

    <div class="radio inline">
        <input type="radio" id="radio-3" name="gender" value="Female">
        <label for="radio-3" class="radio-label"> Female </label>
    </div>
</div>

<div class="form-group">
    <button type="submit" class="btn text-dark update "> Submit </button>
</div>

</div>
</form>

    </div> 
</nav>
</main>
<!-- main site end -->




<!-- include footer begin -->
<%- include('include/_footer')%>
<!-- include footer end -->