<!-- include header begin -->
<%- include('include/_header')%>
<!-- include header end -->


           

    <body>
        <nav class="nav-container">
            <div class="header-nav">
                <a href="/program">Programs</a>
                <a href="/contact">Contact</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            </div>    
            </div>
        </nav>


    <div class="index-container">
        <div class="index-left">
            <p class="home-primary-subheading">Welcome</p>
            <h1 class="home-primary-heading">
            Mini Oasis Montessori
            </h1>
            <p class="home-primary-text">
                Mini Oasis Montessori School provides a nurturing environment where children are encouraged to explore, learn,
                and develop at their own pace through hands-on experiences and individualized attention.
            </p>
            <button type="submit"> Enroll Now </button>
        </div>

        <div class="index-right">
            <img class="home-logo" src="https://i.ibb.co/XV6F1cz/Mini-Oasis-Welcome.png" alt="logo"/>
        </div>
    </div>



        <div class="carousel-container">
            <div class="carousel">
                <div class="carousel-item">
                    <button class="prev">‹</button>
                    <p class="about-primary-subheading">About Us</p>
                    <h1 class="about-primary-heading">Holistic</h1>
                    <p class="about-primary-text">
                    At Mini Oasis, we embrace the Montessori philosophy, placing paramount importance on fostering a holistic and well-rounded educational experience. Our approach is designed to cultivate curiosity, independence, and a enduring passion for learning in children. Through a myriad of activities tailored to individual needs, we aim to stimulate cognitive, social, emotional, and physical growth, promoting self-discovery and confidence-building in a nurturing and engaging setting.  
                    </p>
                </div>

                <div class="carousel-item">
                    <p class="about-primary-subheading">About Us</p>
                    <h1 class="about-primary-heading">Enriching</h1>
                    <p class="about-primary-text">
                    At Mini Oasis, our dedicated team is passionately committed to crafting an enriching educational experience through hands-on, child-centered learning methodologies. We empower each child to explore their individual interests, talents, and potential while fostering a deep sense of fulfillment and accomplishment. By placing the child at the center of their learning journey, we provide diverse opportunities for self-discovery and growth, celebrating successes along the way and nurturing confidence and resilience for lifelong learning.
                    </p>
                </div>

                <div class="carousel-item">
                    <button class="next">›</button>
                    <p class="about-primary-subheading">About Us</p>
                    <h1 class="about-primary-heading">Tailored</h1>
                    <p class="about-primary-text">
                        At Mini Oasis, we cultivate an educational environment centered on values of independence, respect, and community. Through personalized learning journeys, we ignite a lifelong passion for discovery and growth within our close-knit Montessori community. Here, every child's unique path is celebrated and supported, welcoming them into our nurturing Montessori family with open arms.
                    </p>
                </div>
            </div>

        </div>

        <div class="program-container">
            <div class="program-info">
                <p class="programs-primary-subheading">Our Programs</p>
                <h1 class="programs-primary-heading">Toddlers, Preschools & Summer Camp</h1>
                <p class="programs-primary-text">
                    Our programs are designed to provide a comprehensive and enriching experience for children in alignment with the Montessori philosophy.
                </p>
            </div>

            <div class="cards">
                <div class="cards-item toddlers">
                    <p class="programs-primary-subheading">Toddlers</p>
                    <h1 class="programs-primary-heading">12 to 36 months</h1>
                    <p class="programs-primary-text">
                        Our toddler program focuses on fostering independence, language development, and social skills through activities designed to meet the developmental needs of this age group.
                    </p>
                </div>

                <div class="cards-item preschool">
                    <p class="programs-primary-subheading">PreSchool</p>
                    <h1 class="programs-primary-heading">3 years to 5 years</h1>
                    <p class="programs-primary-text">
                        Our primary program follows the Montessori method's core principles, providing a prepared environment where children engage in self-directed learning experiences.
                    </p>
                </div>

                <div class="cards-item summer">
                    <p class="programs-primary-subheading">Summer Camp</p>
                    <h1 class="programs-primary-heading">Early Registration May </h1>
                    <p class="programs-primary-text">
                        During the summer months, we offer themed camps that integrate Montessori principles with fun and engaging activities, providing a balance of learning and recreational experiences for children.
                    </p>
                </div>
            </div>
        </div>

        <div class="contact-container">
            <div class="contact-form">
                <form>
                    <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" placeholder="jane doe" required>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="number" id="phone" placeholder="123-456-7890" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="example@gmail.com" required>
                    </div>

                    <div class="form-group">
                        <label for="message">Message</label>
                        <input type="text" id="message" rows="6" required>
                    </div>

                </form>
            </div>
            <div class="button-container">
                <button type="submit"> Enroll Now </button>
            </div>
        </div>
        

    </div>

</body>


<!-- include footer begin -->
<%- include('include/_footer')%>
<!-- include footer end -->