
<!-- include header begin -->
<%- include('include/_header')%>
<!-- include header end -->


           

    <body>
        <nav>

            <a href="/add-child">
                <img src="https://i.ibb.co/tshtWxy/AddChild.png" alt="Add Child Button">
                </a>
    
                <a href="/admin-child">
                <img src="https://i.ibb.co/MD4Cw3d/View-Child.png" alt="All Child Button">
                </a>
    
                <a href="/add-staff">
                <img src="https://i.ibb.co/WvPP4ts/AddStaff.png" alt="Add Staff button">
                </a>
    
                <a href="/admin-staff">
                <img src="https://i.ibb.co/6gF9hp3/View-Staff.png" alt="All Staff Button">

        </nav>
    </body>


 <!-- main site begin -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav-d-flex-justify-between">

        <div class="main-container">
        <img src="https://i.ibb.co/cCynKLL/miniminder-logo.png">
        </div>    
        </div>
    </main>
<!-- main site end -->




<!-- include footer begin -->
<%- include('include/_footer')%>
<!-- include footer end -->