
<!-- include header begin -->
<%- include('include/_header')%>
<!-- include header end -->


 <!-- main site begin -->
 <main id="site-main">
    <div class="container">
        <div class="box-nav-d-flex-justify-between">
            <a href="/">
                <span class="text-gradient"> Home Page </span>
            </a> 
            <br>
            <a href="/admin-child">
                <span class="text-gradient"> All Child </span>
            </a>
            <br>
            <a href="/admin-staff">
                <span class="text-gradient"> All Teachers </span>
            </a>
        </div>

    <div class="sign-up-container">
        <div class="text-center">
        <h2>Good Morning!</h2>
        <br>
        <br>
        <h3>Please select your profile to navigate to your dashboard.</h3>
        </div>    
    </div>

        <br>
        <br>

    <div class="classes">
        <div class="text-center">

       
        <a href="/infant">
            <img src="https://i.ibb.co/bbm7YNP/infant.png" alt="infant">
        </a>

        <a href="/first-steps">
            <img src="https://i.ibb.co/XSPXn16/first-steps.png" alt="first-steps">
        </a>

        <a href="/preschool">
            <img src="https://i.ibb.co/c1H7DyJ/preschool.png" alt="preschool">
        </a>

        <a href="/toddler">
            <img src="https://i.ibb.co/wNjmpyW/toddler.png" alt="toddler">
        </a>
        </div>    
    </div>
        


    </div> 

</main>
<!-- main site end -->




<!-- include footer begin -->
<%- include('include/_footer')%>
<!-- include footer end -->