
<!-- include header begin -->
<%- include('include/_header')%>
<!-- include header end -->


  <!-- main site begin -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav-d-flex-justify-between">
            <a href="/login-page"><i class="fas fa-angle-double-left"></i>Login Page</a>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark"> Welcome! </h2>    
            <span class="text-light"> Choose the appropriate role. </span>
        </div>

<!-- submit buttons for privileges-->
<form method="POST" id="privileges">
<div class="new_privileges" id="btn-group">
    <div class="form-group">
        <button type="submit" id="privileges-btn" class="btn text-dark update "> <a href="/admin-dashboard"> Admin </a></button>
        <button type="submit" id="privileges-btn" class="btn text-dark update "> <a href="/parent-dashboard"> Parents </a></button>
        <button type="submit" id="privileges-btn" class="btn text-dark update "> <a href="/teacher-dashboard"> Teachers </a></button>
    </div>
</div>
</form>



    </div>
</main>





<!-- include footer begin -->
<%- include('include/_footer')%>
<!-- include footer end -->